# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*
.venv/
venv/
.venv

# Poetry
.poetry/
__pypackages__/

# VSCode / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
*.sock
*.log
*.env

*.whl
*.lock
