[Unit]
Description=Run Portfolio PostgreSQL backup daily

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=true
Unit=portfolio-backup-db.service

[Install]
WantedBy=timers.target
